@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    font-family: 'Open Sans', sans-serif;
    /* height: 2217px;
    width: 1440px; */
}

header {
    position: relative;
    top: 0;
    left: 0;
    margin: 2rem;
    /* width: 1440px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    background: none;
    border: none;
    padding: 0.2rem 0.2rem;
    margin: 0 2rem;
    font-size: large;
    cursor: pointer;
    color: white;
    border: rgba(0, 0, 0, 0) solid;
    border-width: 0.125rem;
}

header button:hover {
    border-bottom: white solid;
    border-width: 0.125rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem;
    padding: 0 2rem;
}

.logo {
    margin: 0;
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background-image: linear-gradient(#fbab7e, #fbe1bf, white);
    /* height: 554px; */
    height: 30%;
    width: 100%;
    /* width: 1440px; */
}

.main-content {
    display: grid;
    color: #3f3d56;
    row-gap: 5rem;
    column-gap: 15rem;
    column-count: 2;
    height: 1000px;
    width: 100%;
    grid-template-columns: 30% 30%;
    grid-template-rows: 20% 20% 20%;
    justify-content: space-around;
}

.trending-recipes {
    /* height: 554px; */
    color: white;
    font-size: larger;
    background-color: #fbab7e;
}

.trending-recipes > * {
    padding: 2rem 4rem;
}

.image-box {
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}

.image-box > div {
    height: 330px;
    width: 250px;
    border-radius: 2rem;
    overflow: hidden;
}

.image img {
    height: 390px;
    width: 260px;
}

footer {
    /* width: 1440px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > * {
    margin: 0 5rem;
    font-size: large;
}

.icon {
    color: #3f3d56;
    margin: 0 0.75rem 0 0.75rem;
}