@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    font-family: 'Open Sans', sans-serif;
    height: 2217px;
    width: 1440px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    background: none;
    border: none;
    padding: 0.2rem 0.2rem;
    margin: 0 2rem;
    font-size: large;
    cursor: pointer;
    color: white;
    border: rgba(0, 0, 0, 0) solid;
    border-width: 0.125rem;
}

header button:hover {
    border-bottom: white solid;
    border-width: 0.125rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem;
    padding: 0 2rem;
}

.logo {
    margin: 0;
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background-image: linear-gradient(#fbab7e, white);
    height: 554px;
    width: 1440px;
}

.main-content {
    height: 1000px;
}

footer {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > * {
    margin: 0 5rem;
    font-size: large;
}

.icon {
    color: #3f3d56;
    margin: 0 0.75rem 0 0.75rem;
}